.red{
    color: red !important;
}
.normal{
    display: grid;
    padding: 20px 30px;
    border: 2px solid #61dafb;
    margin: 20px 20px;
    border-radius: 15px;
    font-size: 30px;
    height: 100px;
    align-content: center;
    color: #61dafb;;
}

.textValueCounter{
    font-size: 45px;
}

.errorInpyt{
    color: red;
    border-color: red;
    border-radius: 10px;
    outline: none;
}