.btn{
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer
}

.btn:hover{
    background-color: #5396fa;
    transition: 1s;
}

.btn:disabled{
    cursor: no-drop;
    opacity: 0.5;
    color: black;
}