.btn {
    margin: 10px 40px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #61dafb;
    color: white;
    border: none;
    cursor: pointer;
    color: white;
    justify-self: center;
}

.btn:hover {
    background-color: #19c6f5;
    transition: 1s;
}

.btn:disabled {
    cursor: no-drop;
    opacity: 0.5;
    color: black;
}

.btnBlock {
    border: 5px #61dafb solid;
    border-radius: 15px;
    margin: 20px 20px;
    padding: 15px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.btnBlockSetings {
    grid-template-columns: 1fr;
}


@media (max-width: 425px) {
    .btnBlock{
        /*grid-template-columns: 1fr ;*/

    }
    .btn{
        margin: 5px;
    }
}